{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>         
      <li class="nav-item {% if title == 'Class' %}active{% endif %}">
        <a class="nav-link" href="{% url 'attendance:classes_list' %}">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Classes</span>
        </a>
      </li>
      <li class="nav-item {% if title == 'Subject' %}active{% endif %}">
        <a class="nav-link" href="{% url 'attendance:subjects_list' %}">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Subjects</span>
        </a>
      </li>
      
      <li class="nav-item {% if title == 'Students' %}active{% endif %}">
        <a class="nav-link" href="{% url 'attendance:student_class_list' %}">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Student List</span>
        </a>
      </li>
      <li class="nav-item {% if title == 'Attendance' %}active{% endif %}">
        <a class="nav-link" href="{% url 'attendance:attendance_class_list' %}">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Attendance</span>
        </a>
      </li>
    </ul>
  </nav>