{% extends 'admin-base.html' %} {% load static %} {% block content %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row pb-3">
              <div class="col-10">
            <p class="card-title">{{title}} List</p>
            </div>
            <div class="col-2">
            <a href="{% url 'attendance:subject_add' %}" class="add-link">
              <button class="btn btn-outline-primary" type="button" aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-plus">&nbsp;</i> Add {{title}}
               </button>
            </a>
            </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table id="examplee" class="display expandable-table" style="width:100%">
                    <thead>
                      <tr>
                        <th>S.No</th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Description</th>
                        <th>Class</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for subject in subjects %}
                      <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{subject.subject_name}}</td>
                        <td>{{subject.subject_code}}</td>
                        <td>{{subject.subject_description}}</td>
                        <td>{{subject.subject_class}}</td>
                        <td>
                          <a href="{% url 'attendance:subject_edit' subject.id %}" class="btn border border-primary"> Edit
                          </a>
                          <a href="{% url 'attendance:subject_delete' subject.id %}" class="btn border border-danger mx-2">Delete
                          </a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}
