{% extends 'admin-base.html' %}
{% load static %}
{% block content %}
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Welcome {{request.user}}</h3>
                  <h6 class="font-weight-normal mb-0">Have a nice time!</h6>
                </div>
                <div class="col-12 col-xl-4">
                 <div class="justify-content-end d-flex">
                  <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                    <button class="btn btn-sm btn-light bg-white" type="button" id="dropdownMenuDate2" aria-haspopup="true" aria-expanded="true">
                     <i class="mdi mdi-calendar"></i> Today ({{date}})
                    </button>
                    
                  </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card tale-bg">
                <div class="card-people p-0 mt-auto">
                  <img src="{% static 'web/images/dashboard/people.jpg' %}" alt="people">
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin transparent">
              <div class="row">
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-tale">
                    <div class="card-body">
                      <p class="mb-4">Total Classes</p>
                      <p class="fs-30 mb-2">{{classes}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-dark-blue">
                    <div class="card-body">
                      <p class="mb-4">Total Students</p>
                      <p class="fs-30 mb-2">{{students}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                 <div class="d-flex justify-content-between">
                  <p class="card-title">Attendance Report</p>
                 </div>
                  <p class="font-weight-500">The total number of attendance</p>
                  <div class="card">
                    <div class="template-demo">
                      <div class="btn-group">
                        <button type="button" class="btn btn-success">Classes</button>
                        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton3">
                          {% for c in class %}
                          <a class="dropdown-item" id="{{c.id}}" onclick="dataLoad({{c.id}})" >{{c.class_name}}</a>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                </div>
                  <div id="sales-legend" class="chartjs-legend mt-4 mb-2"></div>
                  <canvas id="sales-chart"></canvas>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Pie chart</h4>
                  <canvas id="pieChart"></canvas>
                </div>
              </div>
            </div>
          </div>                
{% endblock %}
{% block script %}
<script>

  function dataLoad(id){
    dataCall(id);
  }
  function barData(data){
  if ($("#sales-chart").length) {
    var SalesChartCanvas = $("#sales-chart").get(0).getContext("2d");
    var SalesChart = new Chart(SalesChartCanvas, {
      type: 'bar',
      data: {
        labels: data.subjects,
        datasets: [
        {
          label: "present",
          data: data.present,
          backgroundColor: '#29568d'
        },
        {
            label: "absent",
            data: data.absent,
            backgroundColor: '#98BDFF'
          },          
        ]
      },
      options: {
        cornerRadius: 5,
        responsive: true,
        maintainAspectRatio: true,
        layout: {
          padding: {
            left: 0,
            right: 0,
            top: 20,
            bottom: 0
          }
        },
        scales: {
          yAxes: [{
            display: true,
            gridLines: {
              display: true,
              drawBorder: false,
              color: "#F2F2F2"
            },
            ticks: {
              display: true,
              min: 0,
              max: 10,
              callback: function(value, index, values) {
                return  value ;
              },
              autoSkip: true,
              maxTicksLimit: 20,
              fontColor:"#6C7383"
            }
          }],
          xAxes: [{
            stacked: false,
            ticks: {
              beginAtZero: true,
              fontColor: "#6C7383"
            },
            gridLines: {
              color: "rgba(0, 0, 0, 0)",
              display: false
            },
            barPercentage: 1
          }]
        },
        legend: {
          display: false
        },
        elements: {
          point: {
            radius: 0
          }
        }
      },
    });
    document.getElementById('sales-legend').innerHTML = SalesChart.generateLegend();
  }
};
  function dataCall(id){
    $.ajax({
      type: 'GET',
      dataType:"json",
      url: '/attendance/chart-data/?class='+id,
      success: function (data, status, xhr) {
          barData(data);
       }
     });
  };

  $(document).ready(dataCall(`{{class.first.id}}`));


  var doughnutPieOptions = {
    responsive: true,
    animation: {
      animateScale: true,
      animateRotate: true
    }
  };
  var doughnutPieData = {
    datasets: [{
      data: [{% for attendance in attendance_total_list %}
      `{{attendance.attendance.attendees}}`,
      {% endfor %}],
      backgroundColor: [
        'rgba(255, 99, 132, 0.5)',
        'rgba(54, 162, 235, 0.5)',
        'rgba(255, 206, 86, 0.5)',
        'rgba(75, 192, 192, 0.5)',
        'rgba(153, 102, 255, 0.5)',
        'rgba(255, 159, 64, 0.5)'
      ],
      borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
    }],

    labels: [
    {% for attendance in attendance_total_list %}
      `{{attendance.class.class_name}}`,
    {% endfor %}
    ]
  };

  if ($("#pieChart").length) {
    var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
    var pieChart = new Chart(pieChartCanvas, {
      type: 'pie',
      options: doughnutPieOptions,
      data: doughnutPieData,

    });
  }







</script>
{% endblock script %}